<h1>Login</h1>
<form action="/login" method="post">
    <div class="input">
        <input type="text" name="email" placeholder="Digite seu email..." />
    </div>

    <div class="input">
        <input type="password" name="senha" placeholder="Digite sua senha..." />
    </div>

    <div class="btn">
        <input type="submit" name="login" value="Login" />
    </div>
</form>