<header>
    <h2>Cabeçalho</h2>
    <!-- <div id="user">
        <% if(locals.layoutsVariables.user){ %>
        <p>
            <i class="bi-person" style="font-size: 1rem; color: #0f0"></i>
            <%- locals.layoutsVariables.user.nome %>
            <a href="#" class="btn-primary">
                <i class="bi-arrow-right" style="font-size: 1rem; color: #ff0"></i>
            </a>
        </p>
        <% } %>
    </div> -->
</header>